
I don't see the cap in the odhcpd codebase?
Currently in can set 9000sec fine on SNAPSHOT.

Futhermore the current version is:
https://github.com/openwrt/openwrt/blob/cf198ccb5daf731f3d9f73b0d7786c6d11295384/package/network/services/odhcpd/Makefile#L16-L17


@GoetzGoerisch 
Here is the location of the latest odhcpd source code: [https://github.com/openwrt/odhcpd/blob/68f382690bfaec56d5b1f31c3c31c48bcb642e3a/src/router.c#L387](https://github.com/openwrt/odhcpd/blob/68f382690bfaec56d5b1f31c3c31c48bcb642e3a/src/router.c#L387), where `RouterLifetime` is set to 5400. In addition, you can also use `tcpdump` to capture RA packets for verification. My OpenWrt version: 25.12.5.

Thank you for pointing this out.
Yes with https://github.com/openwrt/odhcpd/pull/225 was actually clamped at 5400s.

@systemcrash how I read the RFCs mentioned in the PR, I would prefer/suggest that `odhcpd` allows the 9000s (as per RFC8319 §4) but clamps it at `ND_PREFERRED_LIMIT` if configured outside of RFC9096 recommended values. 
